################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LearningWorld/v16/TestStore/0
/.vs/VSWorkspaceState.json
Training/Quizzer/__pycache__/Answer.cpython-37.pyc
Training/Quizzer/__pycache__/Question.cpython-37.pyc
Training/Quizzer/__pycache__/Quizzer.cpython-37.pyc
